USE master;
GO

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'QuanLyCafe')
BEGIN
    CREATE DATABASE QuanLyCafe;
END
GO

USE [QuanLyCafe]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/04/2026 4:07:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/04/2026 4:07:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NULL,
	[TongTien] [int] NOT NULL,
	[KhachDua] [int] NOT NULL,
	[NguoiTao] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/04/2026 4:07:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/04/2026 4:07:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[Gia] [int] NOT NULL,
	[TonKho] [int] NOT NULL,
	[Loai] [nvarchar](50) NULL,
	[HinhAnh] [varchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [TenMon], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, N'SP10', N'Cơm Chiên Dương Châu', 2, 35000, 70000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [TenMon], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, N'SP01', N'Cafe Sữa Đá', 2, 25000, 50000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [TenMon], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, N'SP14', N'Trà Tắc Khổng Lồ', 1, 20000, 20000)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TongTien], [KhachDua], [NguoiTao]) VALUES (1, CAST(N'2024-01-05T09:15:00.000' AS DateTime), 70000, 100000, N'NV01')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TongTien], [KhachDua], [NguoiTao]) VALUES (2, CAST(N'2024-01-20T14:30:00.000' AS DateTime), 70000, 100000, N'NV02')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [TongTien], [KhachDua], [NguoiTao]) VALUES (3, CAST(N'2024-02-14T19:45:00.000' AS DateTime), 50000, 50000, N'NV03')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenDangNhap], [MatKhau], [Ho], [Ten], [SoDienThoai], [VaiTro], [TrangThai]) VALUES (N'NV01', N'admin', N'123', N'Trần Tấn', N'Đạt', N'0901234567', N'Admin', N'Đang làm')
INSERT [dbo].[NhanVien] ([MaNV], [TenDangNhap], [MatKhau], [Ho], [Ten], [SoDienThoai], [VaiTro], [TrangThai]) VALUES (N'NV02', N'baongan', N'1234', N'Lâm Bảo', N'Ngân', N'0987654321', N'Nhân viên', N'Đang làm')
INSERT [dbo].[NhanVien] ([MaNV], [TenDangNhap], [MatKhau], [Ho], [Ten], [SoDienThoai], [VaiTro], [TrangThai]) VALUES (N'NV03', N'thuytien', N'123', N'Nguyễn Thị', N'Thúy Tiên', N'0334567890', N'Nhân viên', N'Đang làm')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [TonKho], [Loai], [HinhAnh], [TrangThai]) VALUES (N'SP01', N'Cafe Sữa Đá', 25000, 8, N'Đồ uống', N'cafesuada.png', N'Còn bán')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [TonKho], [Loai], [HinhAnh], [TrangThai]) VALUES (N'SP02', N'Trà Đào Cam Sả', 35000, 975, N'Đồ uống', N'tradaocamsa.png', N'Còn bán')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [TonKho], [Loai], [HinhAnh], [TrangThai]) VALUES (N'SP03', N'Bạc Xỉu', 30000, 180, N'Đồ uống', N'bacxiu.png', N'Còn bán')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__55F68FC0089CE3CB]    Script Date: 11/04/2026 4:07:11 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__55F68FC05E225A1D]    Script Date: 11/04/2026 4:07:11 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Nhân viên') FOR [VaiTro]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('default.png') FOR [HinhAnh]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (N'Còn bán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([NguoiTao])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
